
*.tlog
*.pdb
*.vsidx
*.lock
Library/.vs/Library/v17/.suo
*.db
*.db-shm
*.db
Library/.vs/Library/v17/.suo
*.idb
*.obj
*.log
*.ilk
*.vcxproj
*.filters
*.ipch
*.ipch
Library/Library.vcxproj.filters
*.opendb
*.db-wal
*.recipe
*.exe
Library/.vs/Library/v17/Browse.VC.db
Library/.vs/Library/v17/Browse.VC.db
Library/.vs/Library/v17/.suo
Library/.vs/Library/v17/Browse.VC.db
*.db
*.db
*.db
Library/.vs/Library/v17/.suo
*.sln
Library/.vs/Library/v17/.suo
*.db
*.user
*.ipch
Library/Library.rar
Library/Library.zip
Library/.vs/Library/v17/.suo
Library/.vs/Library/v17/ipch/AutoPCH/3a3f68fffb47e9db/BOOK.ipch
Library/.vs/Library/v17/.suo
*.ipch
